
<!DOCTYPE html>
<html>
<title>About me</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto'>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<style>
html,body,h1,h2,h3,h4,h5,h6 {font-family: "Roboto", sans-serif}
#menu {
    width: 25%;
    float: left;
}
#main {
    width: 75%;
    float: left;
}
@media all and (min-width: 768px){
    #menu {text-align:left;-webkit-flex:5 auto;flex:5 auto;-webkit-order:2;order:2;}
    #main {-webkit-flex:5 0px;flex:5 0px;-webkit-order:2;order:2;}
    #footer {-webkit-order:3;order:3;}
    #mydiv{text-align:left;-webkit-flex: 1 auto;flex:1 auto;-webkit-order:1;order:1;}
}
@media screen and (min-width: 220px) and (max-width: 680px){

    #menu{text-align:left;width: 250px;}
    #main{text-align:right;width:440px;  }
    #footer {-webkit-order:3;order:3;flex:5}
    #mydiv{display: none;}

}

</style>
<body class="w3-light-grey">
<div class="container">

<!-- Page Container -->
<div class="w3-content w3-margin-top" style="max-width:1400px;">

  <!-- The Grid -->
  <div class="w3-row">
  
    <!-- Left Column -->
    <div id="menu" class="w3-third">
    
      <div class="w3-white w3-text-grey w3-card-4">
        <div id="mydiv" class="w3-display-container">
          <img src="assets/images/avatars/3.jpg" style="width:100%" alt="Avatar">
          <br><br>
          <div class="w3-display-bottomleft w3-container w3-text-teal">
            <h2>Daxesh Mehra</h2>
            <h4><span class="w3-tag w3-text-teal">DEXTER</span></h4>
          </div>
        </div>
        <div class="w3-container">
          <p><i class="fa fa-briefcase fa-fw w3-margin-right w3-large w3-text-teal"></i>Designer,Programmer</p>
          <p><i class="fa fa-home fa-fw w3-margin-right w3-large w3-text-teal"></i>Los Angeles, USA</p>
          <p><i class="fa fa-envelope fa-fw w3-margin-right w3-large w3-text-teal"></i>daxshmehra10@gmail.com</p>
          <p><i class="fa fa-phone fa-fw w3-margin-right w3-large w3-text-teal"></i>6196067338</p>
          <hr>

         
           
          <div class="w3-light-grey w3-round-xlarge w3-small">
            <div class="w3-container w3-center w3-round-xlarge w3-teal" > <button class="btn btn-primary"><a href="https://github.com/daxesh10">Github</a></button></div>
          </div>
          <br>



          <p class="w3-large"><b><i class="fa fa-asterisk fa-fw w3-margin-right w3-text-teal"></i>Programming</b></p>
          
         
          <div class="w3-light-grey w3-round-xlarge w3-small">
            <div class="w3-container w3-center w3-round-xlarge w3-teal"><h6>Firebase/AWS </h6></div>
          </div>
          <br>
 
        <p>Deployment/using gcloud , Heroku,Filezzila</p>
          <div class="w3-light-grey w3-round-xlarge w3-small">
            <div class="w3-container w3-center w3-round-xlarge w3-teal" style="width:80%">80%</div>
          </div>
          <br>
 
          
          
          <p>Angular JS</p>
          <div class="w3-light-grey w3-round-xlarge w3-small">
            <div class="w3-container w3-center w3-round-xlarge w3-teal" style="width:100%">100%</div>
          </div>
          <br>
          
          <p>NodeJs</p>
          <div class="w3-light-grey w3-round-xlarge w3-small">
            <div class="w3-container w3-center w3-round-xlarge w3-teal" style="width:90%">90%</div>
          </div>
          <br>


          <p> MySQL/PostgreSQL/NO-SQL(MongoDB)</p>
          <div class="w3-light-grey w3-round-xlarge w3-small">
            <div class="w3-container w3-center w3-round-xlarge w3-teal" style="width:80%">80%</div>
          </div>
          <br>
          
          <p>HTML5/CSS</p>
          <div class="w3-light-grey w3-round-xlarge w3-small">
            <div class="w3-container w3-center w3-round-xlarge w3-teal" style="width:86%">86%</div>
          </div>
          <br>

<p>Unix</p>
          <div class="w3-light-grey w3-round-xlarge w3-small">
            <div class="w3-container w3-center w3-round-xlarge w3-teal" style="width:75%">75%</div>
          </div>
          <p>Javascript</p>
          <div class="w3-light-grey w3-round-xlarge w3-small">
            <div class="w3-container w3-center w3-round-xlarge w3-teal" style="width:90%">90%</div>
          </div>
          <br>

          
  <p>WEB SCRAPING /(Phantom,CasperJS)</p>
          <div class="w3-light-grey w3-round-xlarge w3-small">
            <div class="w3-container w3-center w3-round-xlarge w3-teal" style="width:90%">90%</div>
          </div>
          <br>

 <p>Crypto Currency/(Bitcoin.org,ltecoin)</p>
          <div class="w3-light-grey w3-round-xlarge w3-small">
            <div class="w3-container w3-center w3-round-xlarge w3-teal" style="width:77%">70%</div>
          </div>
          <br>

          
          
          <p>PHP</p>
          <div class="w3-light-grey w3-round-xlarge w3-small">
            <div class="w3-container w3-center w3-round-xlarge w3-teal" style="width:78%">78%</div>
          </div>
          <br>

          <p>MOCHA/And other asserstion </p>
          <div class="w3-light-grey w3-round-xlarge w3-small">
            <div class="w3-container w3-center w3-round-xlarge w3-teal" style="width:88%">80%</div>
          </div>
          <br>


          <p>Selenium Webdriver/Javascript(Nigtwatch)/UI testing</p>
          <div class="w3-light-grey w3-round-xlarge w3-small">
            <div class="w3-container w3-center w3-round-xlarge w3-teal" style="width:80%">80%</div>
          </div>
          <br>

           <p>Spring/Hibernate</p>
          <div class="w3-light-grey w3-round-xlarge w3-small">
            <div class="w3-container w3-center w3-round-xlarge w3-teal" style="width:80%">80%</div>
          </div>
          <br>

           


          <p>Networking</p>
          <div class="w3-light-grey w3-round-xlarge w3-small">
            <div class="w3-container w3-center w3-round-xlarge w3-teal" style="width:80%">
              <div class="w3-center w3-text-white">80%</div>
            </div>
          </div>
          
                   
           </div>
     
     

           </div><br>




    <!-- End Left Column -->
    </div>
    <!-- Right Column -->
    <div class="w3-twothird" id="main">
    
          <div class="w3-container w3-card-2 w3-white w3-margin-bottom">
        <h2 class="w3-text-grey w3-padding-16"><i class="fa fa-suitcase fa-fw w3-margin-right w3-xxlarge w3-text-teal"></i>Work Experience</h2>
        <div class="w3-container">
          <h5 class="w3-opacity"><b>Testing Engineer </b></h5>
          <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>Aug 2016 -  Nov 2016 <span class="w3-tag w3-teal w3-round">Recent</span></h6>
          <p>Testing restful api using various frameworks such as Mocha, Chakram and nightwatch have tested various api , Have exposure of postman , other supporting libraries and npm modules for testing. Performed backend testing using the Mocha.js testing library for Node.js, nightwatch.js testing with selenium webdriver .  Learned and worked with web development and giving solutions with Javascript, particularly with Node.js</p>
          <hr>
        </div>
        <div class="w3-container">
          <h5 class="w3-opacity"><b>Web Developer Java , JavaScript</b></h5>
          <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>May 2014 - Jan 2015 </h6>
          <p>Worked as a java developer for a software team , Used technology such as spring, hibernate to implement module. Junit for performing unit testing and database PostgreSQL.  Involved in creating various Data Access Objects (DAO) for addition, modification and deletion of records using various specification files. Developed user interface using JSP, JSP Tag libraries, Java Script.Helping in querying the data and maintain reports</p><hr>
        </div>
        <div class="w3-container">
          <h5 class="w3-opacity"><b>Jr. Developer</b></h5>
          <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>Jul 2013 - Apr 2014 </h6>
          <p>Developed the application from specifications and requirement gathering using Android SDK, Java ,Php and Mysql . Gained training under senior developer in It Division of Alive Minds Creatives ltd, Designed and developed applications for client using  Android platform. Worked as android developer on both backend (PHP) and front end(Android and XML) of the module using tools Eclipse, MS Visio 2007 and Android Studio. Build database system to store the data. Fixed bugs and reported the test cases for improving application performance to provide maintenance and post release support for the applicatio </p><br>
        </div>
      </div>

      <div class="w3-container w3-card-2 w3-white">
        <h2 class="w3-text-grey w3-padding-16"><i class="fa fa-certificate fa-fw w3-margin-right w3-xxlarge w3-text-teal"></i>Education</h2>
        <div class="w3-container">
          <h5 class="w3-opacity"><b>California State University - Los Angeles </b></h5>
          <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>Master of Science: Computer Science</h6>
          <p>GPA 3.4 <br>Courses:   Adv. Web & Internet Programming, Development with Angular Js, Adv. Software Engineering, Search Engine Development, Big Data, Adv. Data Structure and Algorithms, Adv. JAVA and Oops.</p>
          <hr>
        </div>
        <div class="w3-container">
          <h5 class="w3-opacity"><b>GTU</b></h5>
          <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>2010 - 2014</h6>
          <p>Bachelors Degree Computer Science</p>
          <hr>
        </div>
        <div class="w3-container">
          <h5 class="w3-opacity"><b>Accent School of Coding</b></h5>
          <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>2010 - 2011</h6>
          <p>Java</p><br>
        </div>
      </div>




        <div class="w3-container w3-card-2 w3-white w3-margin-bottom">
        <h2 class="w3-text-grey w3-padding-16"><i class="fa fa-envelope fa-fw w3-margin-right w3-xxlarge w3-text-teal"></i>Projects</h2>
        <div class="w3-container">

          <h5 class="w3-opacity"><b>Crypto Currency </b></h5>
          <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>launching shortly<span class="w3-tag w3-teal w3-round">in progess...</span></h6>
          <p><h4>HEROKU Coin</h4> Using Cryptocurrencies which are a subset of alternative currencies,specifically of digital currencies such as ( Bitcoin - first decentralized cryptocurrency in 2009) 
          Since then, numerous cryptocurrencies have been created. These are frequently called altcoins, as a blend of bitcoin alternative.
          My project is about making a encrypted currency that can be used to buy products online using open source APIs and making it stable enough to get mined by users
          and lauch it in cryypto market </p><a href="https://coinmarketcap.com/">CRYPTO MARKET <span class="glyphicon glyphicon-bitcoin"></span> </a>
          
          <hr>
        </div>
        

          <div class="w3-container">
          <h5 class="w3-opacity"><b>Bitfire</b></h5>
          <h6 class="w3-text-teal"><i class="fa fa-home fa-fw w3-margin-right"></i>Spring, Hibernate and PostgreSQL<span class="w3-tag w3-teal w3-round"></span></h6>
          <p>Designed a Graduate Program web Application using Maven archetype, ORM Mapping, HQL queries. Also handled Subversion repository and implemented Security features. It deals with creating wallet that is responsible for making bitcoin transaction, register user and making them authorized for making transactions and display. Dealing with address and labeling of addresses assigned to authorized user for making transactions</p>
          
          <hr>
        </div>


<div class="w3-container">
          <h5 class="w3-opacity"><b>Lease Management System</b></h5>
          <h6 class="w3-text-teal"><i class="fa fa-home fa-fw w3-margin-right"></i>Java and MySQL, servlets<span class="w3-tag w3-teal w3-round"></span></h6>
          <p>Designed a web application for leasing a house using Servlets, JS, JSP Scripting elements, JSTL in MVC architecture</p>
          
          <hr>
        </div>

<div class="w3-container">
          <h5 class="w3-opacity"><b>Earthquake Analyser</b></h5>
          <h6 class="w3-text-teal"><i class="fa fa-home fa-fw w3-margin-right"></i>Data Mining PHP and MySQL <span class="w3-tag w3-teal w3-round"></span></h6>
          <p>Designed & developed earthquake analysis module for california to efficiently carry out analysis of previous earthquake in different areas and shows if the area is earthquake prone</p>
          
          <hr>
        </div>

<div class="w3-container">
          <h5 class="w3-opacity"><b>Employee Tracker System</b></h5>
          <h6 class="w3-text-teal"><i class="fa fa-home fa-fw w3-margin-right"></i> Android studio , Java and MySQl <span class="w3-tag w3-teal w3-round"></span></h6>
          <p>Employee tracker system is a process for establishing a shared workforce understanding about what is to be achieved at an organisation level. It is about aligning the organisational objectives with the employees' agreed measures,skills, competency requirements, development plans and the delivery of results</p>
          <hr>
        </div>

    <!-- End Right Column -->
    </div>
 
    
  <!-- End Grid -->
  </div>
  
  <!-- End Page Container -->
</div>

<footer id="footer" class="w3-container w3-teal w3-center w3-margin-top">
  <p>Find me on social media.</p>
  <a href="https://www.linkedin.com/in/daxesh-mehra-a89328138/"><button class="btn-success fa fa-linkedin w3-hover-opacity"></button></a>
  <a href="https://www.github.com/daxesh10"><button class="btn-danger fa fa-github w3-hover-opacity"></button></a>
  <br>
  <i class="fa fa-facebook-official w3-hover-opacity"></i>
  <i class="fa fa-instagram w3-hover-opacity"></i>
  <i class="fa fa-snapchat w3-hover-opacity"></i>
  
</footer>

</div>
</body>
</html>