

<div class="container" style="
    margin: auto;
  
    min-width: 40%;
    max-width: 50%;
    border: transparent;
    padding: 10px;">
<div ng-cloak>



  <md-content>
  
  
    <md-tabs md-dynamic-height md-border-bottom>
      
      

       <md-tab label="login">
        <md-content class="md-padding">
            <div login2></div>
        </md-content>
       </md-tab>

       <md-tab label="signup">
        <md-content class="md-padding">
            <div signup></div>
        </md-content>
       </md-tab>






    </md-tabs>
  </md-content>
</div>   
</div>